<!DOCTYPE html>
<html lang="en" ng-app="exploreDestinationsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="exploredestinations.css">
    <title>Explore Destinations</title>
</head>

<body ng-controller="DestinationController as vm">
    <div class="container">
        <h1 class="title">Explore Destinations</h1>
        <input type="text" ng-model="vm.query" placeholder="Search for destinations..." ng-keyup="vm.search()">

        <ul class="suggestions" ng-show="vm.suggestions.length > 0">
            <li ng-repeat="suggestion in vm.suggestions" ng-click="vm.selectDestination(suggestion)">
                {{ suggestion }}
            </li>
        </ul>

        <button ng-click="vm.displayDetails()">Search</button>

        <div class="details" ng-if="vm.selectedDestination">
            <h2>Destination Details</h2>
            <p>{{ vm.selectedDestinationDetails }}</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="exploredestinations.js"></script>
</body>

</html>